
#card{
    background-color: #ffde20;
    color: rgb(0, 0, 0);
    width: 220px;
    height: 300px;
    border-radius: 30px;
    display: inline-block;
    margin: 1rem
}

#cardTitle{    
    text-transform: uppercase;
    font-size: 20px;
    justify-content: center;
    margin: auto;
}

#cardBody{
    justify-content: center;
    margin: auto;
}

#cardfooter{
    justify-content: center;
    margin: auto;
}

#pokemonArt{
    width: 200px;
    height: 200px;
}
    